﻿.fly-out-panel > .k-animation-container {
    height:100%;
}

.fly-out-panel .k-child-animation-container {
    width: calc(100% - 20px);
    background-color: white;
    box-shadow: 5px 0px 10px -2px #888888;
}