﻿<CascadingAuthenticationState>
        <Router AppAssembly="typeof(Startup).Assembly">
            <NotFoundContent>
                <p>Sorry, there's nothing at this address.</p>
            </NotFoundContent>
        </Router>
</CascadingAuthenticationState>