﻿@inherits LayoutComponentBase

<TelerikRootComponent>
    <div class="container-fluid">
        <NavMenu />
        <div class="content">
            @Body
        </div>
    </div>
</TelerikRootComponent>