﻿@page "/"
@namespace BlazePort.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazePort</title>
    <base href="~/" />
    <environment include="Development">
        <link rel="stylesheet" href="css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="css/site.min.css" />
    </environment>
    <script src="https://kendo.cdn.telerik.com/blazor/1.4.0/telerik-blazor.min.js" defer></script>
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
