@layout CenteredContentLayout
@page "/destination/{Id:int}"
@using Data;
@inject BlazePortContext dbContext

@if (location == null)
{
    <span>Loading...</span>
}
else
{
    <h1>@location.Name</h1>
    <img src="@location.ImageUrl" />
    <p>@location.Description</p>
    <ol>
        @foreach (var port in location.Ports)
        {
            <li><a href="/port/@port.Id">@port.Name</a></li>
        }
    </ol>
}
@code {

    [Parameter] int Id { get; set; }

    LocationDetails location;

    protected override async Task OnInitAsync()
    {
        location = await dbContext.Locations.Include(l => l.Ports)
                                            .FirstAsync(l => l.Id == Id);
    }

}
