﻿@page "/"
@inherits IndexBase
@using BlazePort.Components

<div class="row">

    <div class="col-md-6">
        <EditForm Model="form" OnValidSubmit="@OnTripEstimateTripCost" 
                  OnInvalidSubmit="@InvalidSubmit">
            <ValidationSummary/>
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Dates</label>
                <InputDate @bind-Value="form.TripStart" min="@DateTime.Now.ToString("yyyy-MM-dd")" Class="form-control"></InputDate>
                <ValidationMessage For="@(()=> form.TripStart)"></ValidationMessage>
            </div>

            <div class="form-group">
                <label>Passenger</label>
                <InputNumber @bind-Value="form.PassengerCount" Class="form-control"></InputNumber>
                <ValidationMessage For="@(()=> form.PassengerCount)"></ValidationMessage>
            </div>

            <LocationDropdowns LocationLabel="Departure"
                                   LocationSelectedValue="@form.SelectedDeparture"
                                   Locations="@DepartureLocations"
                                   OnLocationChanged="OnLocationChanged"
                                   PortLabel="Port of Travel"
                                   Ports="@DeparturePorts"
                                   PortSelectedValue="@form.SelectedPortOfTravel"
                                   OnPortChanged="OnDeparturePortChanged"
                               />

            <LocationDropdowns LocationLabel="Destination"
                                   LocationSelectedValue="@form.SelectedDestination"
                                   Locations="@DestinationLocations"
                                   OnLocationChanged="OnDestinationChanged"
                                   PortLabel="Port of Entry"
                                   Ports="@DestinationPorts"
                                   PortSelectedValue="@form.SelectedPortOfEntry"
                                   OnPortChanged="OnPortOfEntryChanged"
                               />

            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Estimate Trip Cost</button>
            </div>

            <!--
              Service Provider: A | B
              Payment Method: Currency | Miles
            -->
        </EditForm>
    </div>
    <div class="col-md-6">
        <!-- Calculated -->
        <div class="form-group">
            <label class="h3">Time until trip</label>
        </div>
        <div class="form-group">
            <label class="h3">Total Price: </label><span class="h3">@totalPrice.ToString("C2")</span>
        </div>
        <div class="form-group">
            <label class="h3">Trip Time</label>
        </div>
        <div class="form-group">
            <label class="h3">Trip Distance</label>
        </div>
    </div>
</div>
