@layout CenteredContentLayout
@page "/port/{Id:int}"
@inject BlazePortContext dbContext
@using Data;

@if (port == null)
{
    <span>Loading...</span>
}
else
{
    <h3>@port.Name</h3>
    <img src="@port.ImageUrl" />
    <p>@port.Description</p>
    <ol>
        <li>@port.Country</li>
        <li>@port.Lat, @port.Long</li>
    </ol>
}
    @code {

[Parameter] int Id { get; set; }

    PortDetails port;

    protected override async Task OnInitAsync()
    {
        port = await dbContext.PortDetails.FirstAsync(p => p.Id == Id);
    }

    }
